<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  <!-- можно переопределить при помощи конструкции (define "head") -->
  {{ block "head" . }}
    <!-- используется по умолчанию -->
    {{ partial "head.html" . }}
  {{ end }}
</head>
<body>

  <div>{{ .Param "description" }}</div>

  <!-- display: {none | grid} -->
  <div style="display: grid; grid-template-columns: 1fr 1fr;">
    <div>site</div>
    <div>{{ site }}</div>

    <div>site.Language</div>
    <div>{{ site.Language }}</div>
    
    <div>site.Language.LanguageCode</div>
    <div>{{ site.Language.LanguageCode }}</div>

    <div>site.Language.LanguageDirection</div>
    <div>{{ site.Language.LanguageDirection }}</div>

    <div>.Site</div>
    <div>{{ .Site }}</div>
    
    <div>.Site.Language</div>
    <div>{{ .Site.Language }}</div>
  
    <div>.Site.Language.Lang</div>
    <div>{{ .Site.Language.Lang }}</div>
  
    <div>.Site.Language.LanguageCode </div>
    <div>{{ .Site.Language.LanguageCode }}</div>
    
    <div>.Site.Language.LanguageDirection </div>
    <div>{{ .Site.Language.LanguageDirection }}</div>
  </div>

  <!-- добавляем комментарий в HTML разметку -->
  {{ printf "<!-- Header -->" | safeHTML }}
  {{ block "header" . }}
    {{ partial "header.html" . }}
  {{ end }}

  {{ block "main" . }}
    {{ partial "main.html" . }}
  {{ end }}

  {{ block "footer" . }}
    {{ partialCached "footer.html" . }}
  {{ end }}

</body>
</html>
